@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700;6..96,800&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: #0026ad;
  font-family: Bodoni + Moda;
}

ul {
  list-style: none;
}

.Nav {
  background-color: #ffc0ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn-suscribe {
  background-color: #ffc0ed;
  padding: 10px 15px;
  border-radius: 30px;
  border: solid #0026ad;
  color: #0026ad;
}
.btn-secret {
  background-color: #0026ad;
  padding: 10px 15px;
  border-radius: 30px;
  border: solid #0026ad;
  color: #ffc0ed;
}
.bar {
  background-color: #e8bedc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.Articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hero-title {
  background-color: rgba(255, 228, 247, 0.5);
  padding: 50px;
  border-radius: 96px;
  font-size: 2rem;
}
.Articles-button {
  background-color: #0026ad;
  color: #fff0fb;
  padding: 5px 15px;
  border-radius: 40%;
  font-size: 1.5rem;
  font-weight: 600;
}
.description {
  background-color: rgba(238, 66, 169, 0.012);
}

.footer {
  background-color: #fff0fb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub {
  background-color: #ffc0ed;
}

.subscrib {
  background-color: #0026ad;
  padding: 10px 15px;
  border-radius: 30px;
  border: solid #0026ad;
  color: #ffc0ed;
}
