.container {
  margin: 0 auto;
  background-color: #ffc0ed;
  width: 342px;
  height: 636;
  padding: 15px;
  border-radius: 17px;
  position: fixed;
  top: 20%;
  left: 7%;
}

.cross-icon {
  text-align: right;
  margin-top: 13px;
  margin-right: 16px;
}

.headings {
  text-align: center;
}

.email {
  margin: 0;
  padding: 0;
  width: 274px;
  height: 33px;
  border-radius: 5px;
}
.first-name {
  margin: 0 8px 0 0;
  padding: 0;
  width: 114px;
  height: 33px;
  border-radius: 5px;
}
.last-name {
  margin: 0;
  padding: 0;
  width: 148px;
  height: 33px;
  border-radius: 5px;
}

li {
  padding: 0;
  margin: 0 0 10px;
}

.disclaimer {
  font-size: 0.5rem;
  text-align: center;
}

.link {
  display: block;
}

.submit {
  margin: 0 auto;
  padding: 0;
  width: 196px;
  height: 47px;
  background-color: #0026ad;
  color: white;
  border-radius: 23.5px;
}

.submit-button {
  text-align: center;
}

.close {
  text-align: center;
}

.blue-circle {
  width: 21px;
  height: 21px;
  background-color: blue;
  border-radius: 50%;
}

.heading {
  font-family: "Bodoni Moda";
  font-weight: 800;
  font-size: 22px;
  padding: 15px;
}

.sub-heading {
  font-family: "Nunito";
  font-weight: 700;
  font-size: 18px;
  padding: 15px 0;
}
p span {
}

.heading-wrap {
  text-align: center;
  width: 290px;
}
